<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://pan.dumpapp.com/d/%E6%B8%B8%E5%AE%A2%E4%B8%8A%E4%BC%A0%20-%20%E5%85%AC%E5%85%B1/%E4%B8%8A%E4%BC%A0%E6%96%87%E4%BB%B6/y%E2%80%86c/packge/%E5%BE%AE%E4%BF%A1_8.0.30_166825qh.ipa</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.douban.wangyi</string>
<key>bundle-version</key>
<string>0.0.0.</string>
<key>kind</key>
<string>software</string>
<key>subtitle</key>
<string>王亦店长</string>
<key>title</key>
<string>王亦店长</string>
</dict>
</dict>
</array>
</dict>
</plist>
